{% extends "base.html" %}

{% block content %}

<div class = "list-div">
    <div class = "photo-div">
        <p><a class="plus" href="{% url 'photo_create' gallery_pk=gallery.pk %}">&#43;</a>	</p>        
        <a href="{% url 'photo_create' gallery_pk=gallery.pk %}">Add Photo</a>
    </div>

    {% for photo in photos %}
    <div class="photo-div">
        <p><a class = "title" href="{%url 'photo_detail' photo_pk=photo.pk %}">{{photo.title}}</a></p>
        <p><img class = "gallery-photo" src="{{ photo.photo_medium.url }}" alt="{{photo.alt_text}}" /></p>
        <p class='link'><a href="{%url 'photo_update' photo_pk=photo.pk %}">Update the photo</a></p>
        <p class='link'><a href="{%url 'photo_delete' photo_pk=photo.pk %}">Delete the photo</a></p>
    </div>
    {% endfor %}
    
</div>

{% endblock %}